@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff; 
    border-radius: 50px;
    transition: .3s;
}

::-webkit-scrollbar-track {
    background: #222;
}